<div>
    <button mat-icon-button color="primary" routerLink="/dashboard">
      <mat-icon>arrow_back
      </mat-icon></button>
  
</div>
<h2>Details</h2>
<table class="table">
  <tbody>

          <tr>
              <td class="text-success">Id</td>
              <td>{{task.data.id}}</td>
          </tr>
          <tr>
              <td class="text-success">Name</td>
              <td>{{task.data.name}}</td>
          </tr>
          <tr>
              <td class="text-success">Description</td>
              <td>{{task.data.description}}</td>
          </tr>
          <tr>
            <td class="text-success">Time of Creation</td>
            <td>{{task.data.timeOfCreation | date: 'MM-dd-yyyy HH:mm:ss a'}}</td>
        </tr>
  </tbody>
</table>

<button mat-icon-button color="primary" (click)="editTask()">Edit
</button>

<button mat-icon-button color="primary" (click)="deleteTask()">Delete
</button>